{
  "openapi": "3.0.4",
  "info": {
    "title": "Developer API - Upstash",
    "description": "This is a documentation to specify Developer API endpoints based on the OpenAPI 3.0 specification.",
    "contact": {
      "name": "Support Team",
      "email": "support@upstash.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.upstash.com/v2"
    }
  ],
  "paths": {
    "/redis/databases": {
      "get": {
        "tags": [
          "redis"
        ],
        "summary": "List Databases",
        "description": "This endpoint list all databases of user.",
        "operationId": "ListDatabases",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatabases200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/list_databases"
        }
      }
    },
    "/redis/database/{id}": {
      "get": {
        "tags": [
          "redis"
        ],
        "summary": "Get Database",
        "description": "This endpoint gets details of a database.",
        "operationId": "GetDatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credentials",
            "in": "query",
            "description": "Set to \u0027hide\u0027 to remove credentials from the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/get_database"
        }
      },
      "delete": {
        "tags": [
          "redis"
        ],
        "summary": "Delete Database",
        "description": "This endpoint deletes a database.",
        "operationId": "DeleteDatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDatabase200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/delete_database"
        }
      }
    },
    "/redis/database": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Create Redis Database",
        "description": "This endpoint creates a new Redis database.\n\nTo create a database manually, you can use the [Upstash Console](https://console.upstash.com/redis).\n\nFor a quick development database, POST to https://upstash.com/start-redis \u2014 no signup or API key, so an AI agent can provision one unattended. Expires in 72 hours unless claimed. If you are an agent, always send a \u0060User-Agent\u0060 header identifying which agent you are (e.g. \u0060claude-code\u0060, \u0060cursor\u0060, \u0060codex\u0060, \u0060opencode\u0060) on every request you make to this API.\n",
        "operationId": "CreateDatabase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatabaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Database created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/create_database_global"
        }
      }
    },
    "/redis/rename/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Rename Database",
        "description": "This endpoint renames a database.",
        "operationId": "RenameDatabase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to be renamed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameDatabaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Database renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/rename_database"
        }
      }
    },
    "/redis/reset-password/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Reset Password",
        "description": "This endpoint updates the password of a database.",
        "operationId": "ResetPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to reset password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/reset_password"
        }
      }
    },
    "/redis/enable-tls/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Enable TLS",
        "description": "This endpoint enables tls on a database.",
        "operationId": "EnableTls",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to enable TLS",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TLS enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/enable_tls"
        }
      }
    },
    "/redis/enable-eviction/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Enable Eviction",
        "description": "This endpoint enables eviction for given database.",
        "operationId": "EnableEviction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to enable eviction",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eviction enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableEviction200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/enable_eviction"
        }
      }
    },
    "/redis/disable-eviction/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Disable Eviction",
        "description": "This endpoint disables eviction for given database.",
        "operationId": "DisableEviction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to disable eviction",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eviction disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableEviction200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/disable_eviction"
        }
      }
    },
    "/redis/enable-autoupgrade/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Enable Auto Upgrade",
        "description": "This endpoint enables Auto Upgrade for given database.",
        "operationId": "EnableAutoUpgrade",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to enable auto upgrade",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto upgrade enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableAutoUpgrade200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/enable_autoscaling"
        }
      }
    },
    "/redis/disable-autoupgrade/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Disable Auto Upgrade",
        "description": "This endpoint disables Auto Upgrade for given database.",
        "operationId": "DisableAutoUpgrade",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database to disable auto upgrade",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auto upgrade disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableAutoUpgrade200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/disable_autoscaling"
        }
      }
    },
    "/redis/{id}/change-plan": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Change Database Plan",
        "description": "This endpoint changes the plan of a Redis database.",
        "operationId": "ChangePlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database whose plan will be changed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePlan200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/change_plan"
        }
      }
    },
    "/redis/update-budget/{id}": {
      "patch": {
        "tags": [
          "redis"
        ],
        "summary": "Update Database Budget",
        "description": "This endpoint updates the monthly budget of a Redis database.",
        "operationId": "UpdateBudget",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database whose budget will be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBudgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budget updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBudget200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/update_budget"
        }
      }
    },
    "/redis/update-regions/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Update Regions",
        "description": "Update the regions of a database",
        "operationId": "UpdateRegions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of your database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRegionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Regions updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRegions200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/update_regions"
        }
      }
    },
    "/redis/move-to-team": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Move To Team",
        "description": "This endpoint moves database under a target team",
        "operationId": "MoveToTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveToTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Database moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveToTeam200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/moveto_team"
        }
      }
    },
    "/redis/stats/{id}": {
      "get": {
        "tags": [
          "redis"
        ],
        "summary": "Get Database Stats",
        "description": "This endpoint gets detailed stats of a database.",
        "operationId": "GetDatabaseStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Database stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/get_database_stats"
        }
      }
    },
    "/redis/list-backup/{id}": {
      "get": {
        "tags": [
          "redis"
        ],
        "summary": "List Backup",
        "description": "This endpoint lists all backups for a Redis database.",
        "operationId": "ListBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/list_backup"
        }
      }
    },
    "/redis/create-backup/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Create Backup",
        "description": "This endpoint creates a backup for a Redis database.",
        "operationId": "CreateBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Backup created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/create_backup"
        }
      }
    },
    "/redis/delete-backup/{id}/{backupId}": {
      "delete": {
        "tags": [
          "redis"
        ],
        "summary": "Delete Backup",
        "description": "This endpoint deletes a backup of a Redis database.",
        "operationId": "DeleteBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backupId",
            "in": "path",
            "description": "The ID of the backup to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/delete_backup"
        }
      }
    },
    "/redis/restore-backup/{id}": {
      "post": {
        "tags": [
          "redis"
        ],
        "summary": "Restore Backup",
        "description": "This endpoint restores data from an existing backup.",
        "operationId": "RestoreBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreBackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Backup restored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestoreBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/restore_backup"
        }
      }
    },
    "/redis/enable-dailybackup/{id}": {
      "patch": {
        "tags": [
          "redis"
        ],
        "summary": "Enable Daily Backup",
        "description": "This endpoint enables daily backup for a Redis database.",
        "operationId": "EnableDailyBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily backup enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableDailyBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/enable_dailybackup"
        }
      }
    },
    "/redis/disable-dailybackup/{id}": {
      "patch": {
        "tags": [
          "redis"
        ],
        "summary": "Disable Daily Backup",
        "description": "This endpoint disables daily backup for a Redis database.",
        "operationId": "DisableDailyBackup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Redis database",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily backup disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableDailyBackup200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/redis/backup/disable_dailybackup"
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List Teams",
        "description": "This endpoint lists all teams of user.",
        "operationId": "ListTeams",
        "responses": {
          "200": {
            "description": "Teams retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTeams200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/list_teams"
        }
      }
    },
    "/auditlogs": {
      "get": {
        "tags": [
          "auditlogs"
        ],
        "summary": "List Audit Logs",
        "description": "This endpoint lists all audit logs of user.",
        "operationId": "ListAuditLogs",
        "responses": {
          "200": {
            "description": "Audit logs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAuditLogs200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/account/list_audit_logs"
        }
      },
      "servers": [
        {
          "url": "https://api.upstash.com"
        }
      ]
    },
    "/team": {
      "post": {
        "tags": [
          "teams"
        ],
        "summary": "Create Team",
        "description": "This endpoint creates a new team.",
        "operationId": "CreateTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/create_team"
        }
      }
    },
    "/team/{id}": {
      "delete": {
        "tags": [
          "teams"
        ],
        "summary": "Delete Team",
        "description": "This endpoint deletes a team.",
        "operationId": "DeleteTeam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the team to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTeam200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/delete_team"
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Get Team Members",
        "description": "This endpoint list all members of a team.",
        "operationId": "GetTeamMembers",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamMembers200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/get_team_members"
        }
      }
    },
    "/teams/member": {
      "post": {
        "tags": [
          "teams"
        ],
        "summary": "Add Team Member",
        "description": "This endpoint adds a new team member to the specified team.",
        "operationId": "AddTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team member added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMember"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/add_team_member"
        }
      },
      "delete": {
        "tags": [
          "teams"
        ],
        "summary": "Delete Team Member",
        "description": "This endpoint deletes a team member from the specified team.",
        "operationId": "DeleteTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTeamMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team member deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTeamMember200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/teams/delete_team_member"
        }
      }
    },
    "/vector/index": {
      "get": {
        "tags": [
          "vector"
        ],
        "summary": "List Indices",
        "description": "This endpoint returns the data related to all indices of an account as a list.",
        "operationId": "ListIndices",
        "responses": {
          "200": {
            "description": "Indices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListIndices200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/list_indices"
        }
      },
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Create Index",
        "description": "This endpoint creates an index.",
        "operationId": "CreateIndex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Index created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorIndex"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/create_index"
        }
      }
    },
    "/vector/index/{id}": {
      "get": {
        "tags": [
          "vector"
        ],
        "summary": "Get Index",
        "description": "This endpoint returns the data associated to a index.",
        "operationId": "GetIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorIndex"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/get_index"
        }
      },
      "delete": {
        "tags": [
          "vector"
        ],
        "summary": "Delete Index",
        "description": "This endpoint deletes an index.",
        "operationId": "DeleteIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/delete_index"
        }
      }
    },
    "/vector/index/{id}/rename": {
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Rename Index",
        "description": "This endpoint is used to change the name of an index.",
        "operationId": "RenameIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to be renamed",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Index renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenameIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/rename_index"
        }
      }
    },
    "/vector/index/{id}/reset-password": {
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Reset Index Passwords",
        "description": "This endpoint is used to reset regular and readonly tokens of an index.",
        "operationId": "ResetIndexPasswords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to reset the password for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index passwords reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetIndexPasswords200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/reset_index_passwords"
        }
      }
    },
    "/vector/index/{id}/setplan": {
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Set Index Plan",
        "description": "This endpoint is used to change the plan of an index.",
        "operationId": "SetIndexPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to change plan for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetIndexPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Index plan changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetIndexPlan200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/set_index_plan"
        }
      }
    },
    "/vector/index/{id}/transfer": {
      "post": {
        "tags": [
          "vector"
        ],
        "summary": "Transfer Index",
        "description": "This endpoint is used to transfer an index to another team. \nTransferring to a personal account is not supported. However, transferring an index from a personal account to a team is allowed.\n",
        "operationId": "TransferIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the index to be transferred",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Index transferred successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-mint": {
          "href": "/devops/developer-api/vector/transfer_index"
        }
      }
    },
    "/vector/index/stats": {
      "get": {
        "tags": [
          "vector"
        ],
        "summary": "Get Vector Stats",
        "description": "Get vector statistics for all the vector indices associated with the authenticated user",
        "operationId": "GetGlobalVectorStats",
        "responses": {
          "200": {
            "description": "Statistics for the vector indices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/vector/index/{id}/stats": {
      "get": {
        "tags": [
          "vector"
        ],
        "summary": "Get Index Stats",
        "description": "Retrieves statistics and metrics for a specific vector index",
        "operationId": "GetVectorIndexStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the vector index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period for statistics aggregation. Each period returns 60 datapoints \nwith intervals adjusted to the period length. \n\nExceptionally for 30 days, it returns 240 datapoints with 3-hour intervals for increased granularity.\n",
            "schema": {
              "$ref": "#/components/schemas/GetVectorIndexStatsPeriodParameter"
            },
            "example": "3h"
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics for the specified vector index retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "List Search Indexes",
        "description": "Returns a list of all search indices belonging to the authenticated user.",
        "operationId": "ListSearchIndexes",
        "responses": {
          "200": {
            "description": "Successfully retrieved list of search indices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSearchIndexes200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Create Search Index",
        "description": "Creates a new search index with the specified configuration",
        "operationId": "CreateSearchIndex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSearchIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Index created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/{id}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get Search Index",
        "description": "Retrieves detailed information about a specific search index",
        "operationId": "GetSearchIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the search index to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved specified search index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "search"
        ],
        "summary": "Delete Search Index",
        "description": "Permanently deletes a search index and all its data",
        "operationId": "DeleteSearchIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the search index to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search Index Deleted Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSearchIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/stats": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get Search Stats",
        "description": "Get search statistics for all the search indices associated with the authenticated user",
        "operationId": "GetGlobalSearchStats",
        "responses": {
          "200": {
            "description": "Statistics for the search indices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/{id}/stats": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get Index Stats",
        "description": "Retrieves statistics and metrics for a specific search index",
        "operationId": "GetSearchIndexStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the search index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period for statistics aggregation. Each period returns 60 datapoints \nwith intervals adjusted to the period length. \n\nExceptionally for 30 days, it returns 240 datapoints with 3-hour intervals for increased granularity.\n",
            "schema": {
              "$ref": "#/components/schemas/GetSearchIndexStatsPeriodParameter"
            },
            "example": "3h"
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics for the specified search index retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VectorStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/{id}/reset-password": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Reset Password",
        "description": "This endpoint resets the regular and readonly tokens of a search index.",
        "operationId": "ResetSearchPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the search index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search index passwords reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetSearchPassword200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/{id}/transfer": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Transfer Search Index",
        "description": "Transfers ownership of a search index to another team.\nTransferring to a personal account is not supported.\nHowever, transferring from a personal account to a team is allowed.\n",
        "operationId": "TransferSearchIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the search index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferSearchIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search index transferred successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferSearchIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/search/{id}/rename": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Rename Search Index",
        "description": "Renames a search index.",
        "operationId": "RenameSearchIndex",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the search index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameSearchIndexRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search index renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenameSearchIndex200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/users": {
      "get": {
        "tags": [
          "qstash"
        ],
        "summary": "List QStash Users",
        "description": "Retrieves a list of all QStash users associated with the account, including plan details, limits, and configuration.",
        "operationId": "ListQStashUsers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListQStashUsers200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/user/{id}": {
      "get": {
        "tags": [
          "qstash"
        ],
        "summary": "Get QStash",
        "description": "Retrieves detailed information about the specified QStash user, including plan details, limits, and configuration",
        "operationId": "GetQStashUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QStashUser"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/rotate-token/{id}": {
      "post": {
        "tags": [
          "qstash"
        ],
        "summary": "Reset QStash Token",
        "description": "Resets the authentication credentials for the QStash user account.\nThis invalidates the old password and token, and generates new ones.\nReturns the updated user information with new credentials.\n",
        "operationId": "ResetQStashToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token reset successfully, returns updated user information with new credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QStashUser"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/set-plan/{id}": {
      "post": {
        "tags": [
          "qstash"
        ],
        "summary": "Set QStash Plan",
        "description": "Changes the QStash account to a different plan type.\nThis operation changes the plan and associated limits for the QStash account.\n",
        "operationId": "SetQStashPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetQStashPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "QStash plan changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetQStashPlan200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/stats/{id}": {
      "get": {
        "tags": [
          "qstash"
        ],
        "summary": "Get QStash Stats",
        "description": "Retrieves detailed usage statistics for the QStash account including\ndaily requests, billing, bandwidth, and workflow metrics over time.\n",
        "operationId": "GetQStashStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period for statistics aggregation. Each period returns 60 datapoints\nwith intervals adjusted to the period length.\n\nExceptionally for 30 days, it returns 240 datapoints with 3-hour intervals for increased granularity.\n",
            "schema": {
              "$ref": "#/components/schemas/GetQStashStatsPeriodParameter"
            },
            "example": "3h"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QStashStats"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/ipv4": {
      "get": {
        "tags": [
          "qstash"
        ],
        "summary": "Get QStash IPv4 Addresses",
        "description": "Returns the list of IPv4 addresses used by QStash for sending requests.",
        "operationId": "GetQStashIPv4",
        "responses": {
          "200": {
            "description": "List of IPv4 CIDR blocks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQStashIPv4200ResponseSchema"
                }
              }
            }
          }
        }
      }
    },
    "/qstash/move-to-team": {
      "post": {
        "tags": [
          "qstash"
        ],
        "summary": "Move QStash to Team",
        "description": "Moves a QStash instance to a different team.",
        "operationId": "MoveQStashToTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveQStashToTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "QStash moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveQStashToTeam200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/update-budget/{id}": {
      "patch": {
        "tags": [
          "qstash"
        ],
        "summary": "Update QStash Budget",
        "description": "Updates the monthly spending budget limit for a QStash instance.",
        "operationId": "UpdateQStashBudget",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQStashBudgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Budget updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQStashBudget200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/enable-prodpack/{id}": {
      "post": {
        "tags": [
          "qstash"
        ],
        "summary": "Enable Production Pack",
        "description": "Enables the production pack for a QStash instance.",
        "operationId": "EnableQStashProdPack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Production pack enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableQStashProdPack200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/qstash/disable-prodpack/{id}": {
      "post": {
        "tags": [
          "qstash"
        ],
        "summary": "Disable Production Pack",
        "description": "Disables the production pack for a QStash instance.",
        "operationId": "DisableQStashProdPack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "QStash user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Production pack disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisableQStashProdPack200ResponseSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Database": {
        "type": "object",
        "properties": {
          "database_id": {
            "type": "string",
            "description": "ID of the database",
            "example": "96ad0856-03b1-4ee7-9666-e81abd0349e1"
          },
          "database_name": {
            "type": "string",
            "description": "Name of the database",
            "example": "MyRedis"
          },
          "region": {
            "$ref": "#/components/schemas/GlobalRegion"
          },
          "port": {
            "type": "integer",
            "description": "Database port for clients to connect",
            "format": "int64",
            "example": 6379
          },
          "creation_time": {
            "type": "integer",
            "description": "Creation time of the database as Unix time",
            "format": "int64",
            "example": 1752649602
          },
          "state": {
            "$ref": "#/components/schemas/DatabaseState"
          },
          "endpoint": {
            "type": "string",
            "description": "Endpoint identifier or hostname of the database (may be a slug like \u0022beloved-stallion-58500\u0022 or a full host)",
            "example": "beloved-stallion-58500"
          },
          "tls": {
            "type": "boolean",
            "description": "TLS/SSL is enabled or not",
            "example": true
          },
          "db_max_clients": {
            "type": "integer",
            "description": "Max number of concurrent clients can be opened on this database currently",
            "format": "int64",
            "example": 10000
          },
          "db_max_request_size": {
            "type": "integer",
            "description": "Max size of a request that will be accepted by the database currently(in bytes)",
            "format": "int64",
            "example": 10485760
          },
          "db_disk_threshold": {
            "type": "integer",
            "description": "Total disk size limit that can be used for the database currently(in bytes)",
            "format": "int64",
            "example": 107374182400
          },
          "db_max_entry_size": {
            "type": "integer",
            "description": "Max size of an entry that will be accepted by the database currently(in bytes)",
            "format": "int64",
            "example": 104857600
          },
          "db_memory_threshold": {
            "type": "integer",
            "description": "Max size of a memory the database can use(in bytes)",
            "format": "int64",
            "example": 3221225472
          },
          "db_max_commands_per_second": {
            "type": "integer",
            "description": "Max number of commands can be sent to the database per second",
            "format": "int64",
            "example": 10000
          },
          "db_request_limit": {
            "type": "integer",
            "description": "Total number of commands can be sent to the database",
            "format": "int64",
            "example": 8024278031528736858
          },
          "type": {
            "$ref": "#/components/schemas/DatabaseType"
          },
          "budget": {
            "type": "integer",
            "description": "Allocated monthly budget for the database",
            "format": "int64",
            "example": 360
          },
          "primary_region": {
            "$ref": "#/components/schemas/DatabasePrimaryRegion"
          },
          "primary_members": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of primary regions in the database cluster"
          },
          "all_members": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all regions in the database cluster"
          },
          "eviction": {
            "type": "boolean",
            "description": "Entry eviction is enabled",
            "example": false
          },
          "auto_upgrade": {
            "type": "boolean",
            "description": "Automatic upgrade capability is enabled",
            "example": false
          },
          "consistent": {
            "type": "boolean",
            "description": "Strong consistency mode is enabled",
            "example": false
          },
          "modifying_state": {
            "type": "string",
            "description": "Current modifying state of the database"
          },
          "db_resource_size": {
            "$ref": "#/components/schemas/DatabaseDbResourceSize"
          },
          "db_type": {
            "$ref": "#/components/schemas/DatabaseDbType"
          },
          "db_conn_idle_timeout": {
            "type": "integer",
            "description": "Connection idle timeout in nanoseconds",
            "format": "int64",
            "example": 21600000000000
          },
          "db_lua_timeout": {
            "type": "integer",
            "description": "Lua script execution timeout in nanoseconds",
            "format": "int64",
            "example": 250000000
          },
          "db_lua_credits_per_min": {
            "type": "integer",
            "description": "Lua script execution credits per minute",
            "format": "int64",
            "example": 10000000000
          },
          "db_store_max_idle": {
            "type": "integer",
            "description": "Store connection idle timeout in nanoseconds",
            "format": "int64",
            "example": 900000000000
          },
          "db_max_loads_per_sec": {
            "type": "integer",
            "description": "Maximum load operations per second",
            "format": "int64",
            "example": 1000000
          },
          "db_acl_enabled": {
            "$ref": "#/components/schemas/DatabaseDbAclEnabled"
          },
          "db_acl_default_user_status": {
            "$ref": "#/components/schemas/DatabaseDbAclDefaultUserStatus"
          },
          "db_eviction": {
            "type": "boolean",
            "description": "Database-level eviction policy status",
            "example": false
          },
          "last_plan_upgrade_time": {
            "type": "integer",
            "description": "Unix timestamp of the last plan upgrade",
            "format": "int64",
            "example": 0
          },
          "replicas": {
            "type": "integer",
            "description": "Replica factor of the database",
            "example": 5
          },
          "customer_id": {
            "type": "string",
            "description": "Owner identifier of the database (may be email or marketplace-scoped email)",
            "example": "example@upstash.com"
          },
          "daily_backup_enabled": {
            "type": "boolean",
            "description": "Whether daily backup is enabled",
            "example": false
          },
          "read_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of read regions of the database"
          },
          "securityAddons": {
            "$ref": "#/components/schemas/DatabaseSecurityAddons"
          },
          "prometheus_enabled": {
            "$ref": "#/components/schemas/DatabasePrometheusEnabled"
          },
          "prod_pack_enabled": {
            "type": "boolean",
            "description": "Production pack enabled status",
            "example": false
          }
        },
        "xml": {
          "name": "database"
        }
      },
      "CreateDatabaseRequest": {
        "required": [
          "database_name",
          "platform",
          "primary_region"
        ],
        "type": "object",
        "properties": {
          "database_name": {
            "type": "string",
            "description": "Name of the database",
            "example": "myredis"
          },
          "platform": {
            "$ref": "#/components/schemas/CreateDatabaseRequestPlatform"
          },
          "primary_region": {
            "$ref": "#/components/schemas/CreateDatabaseRequestPrimaryRegion"
          },
          "read_regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateDatabaseRequestReadRegionsItem"
            },
            "description": "Array of Read Regions of the Database"
          },
          "plan": {
            "$ref": "#/components/schemas/CreateDatabaseRequestPlan"
          },
          "budget": {
            "type": "integer",
            "description": "Monthly budget of the database",
            "example": 360
          },
          "eviction": {
            "type": "boolean",
            "description": "Whether to enable eviction for the database",
            "example": false
          },
          "tls": {
            "type": "boolean",
            "description": "Whether to enable TLS for the database",
            "example": true
          }
        }
      },
      "ChangePlanRequest": {
        "required": [
          "plan_name"
        ],
        "type": "object",
        "properties": {
          "database_id": {
            "type": "string",
            "description": "ID of the database",
            "example": "6gcefvfd-9627-2tz5-4l71-c5679g19d2g4"
          },
          "plan_name": {
            "$ref": "#/components/schemas/ChangePlanRequestPlanName"
          },
          "auto_upgrade": {
            "type": "boolean",
            "description": "Whether to enable automatic upgrade for the database",
            "example": true
          },
          "prod_pack_enabled": {
            "type": "boolean",
            "description": "Whether to enable the production pack for the database",
            "example": false
          }
        }
      },
      "DatabaseStats": {
        "type": "object",
        "properties": {
          "monitor_count": {
            "$ref": "#/components/schemas/TimeSeriesData"
          },
          "daily_net_commands": {
            "type": "integer",
            "description": "Total number of commands executed today",
            "example": 7
          },
          "daily_read_requests": {
            "type": "integer",
            "description": "Total number of read requests executed today",
            "example": 7
          },
          "daily_write_requests": {
            "type": "integer",
            "description": "Total number of write requests executed today",
            "example": 0
          },
          "connection_count": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Connection count over time"
          },
          "keyspace": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Total number of keys in the database over time"
          },
          "throughput": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Throughput on database connections over time"
          },
          "diskusage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Disk usage over time"
          },
          "latencymean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average latency over time"
          },
          "latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile latency over time"
          },
          "read_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average read latency over time"
          },
          "read_latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile read latency over time"
          },
          "write_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average write latency over time"
          },
          "write_latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile write latency over time"
          },
          "hits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Cache hits over time"
          },
          "misses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Cache misses over time"
          },
          "read": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Read requests over time"
          },
          "write": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Write requests over time"
          },
          "dailyrequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily requests over time"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Days of the week for measurement"
          },
          "dailybilling": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily billing amounts over time"
          },
          "dailybandwidth": {
            "type": "integer",
            "description": "Total daily bandwidth usage in bytes",
            "format": "int64",
            "example": 50444740913
          },
          "bandwidths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Bandwidth usage over time"
          },
          "total_monthly_bandwidth": {
            "type": "integer",
            "description": "Total bandwidth used in current month (bytes)",
            "example": 7
          },
          "total_monthly_requests": {
            "type": "integer",
            "description": "Total requests in current month",
            "example": 7
          },
          "total_monthly_read_requests": {
            "type": "integer",
            "description": "Total read requests in current month",
            "example": 7
          },
          "total_monthly_write_requests": {
            "type": "integer",
            "description": "Total write requests in current month",
            "example": 0
          },
          "total_monthly_script_requests": {
            "type": "integer",
            "description": "Total script requests in current month",
            "example": 0
          },
          "queue_optimized": {
            "type": "boolean",
            "description": "Whether queue optimization is enabled for the database",
            "example": false
          },
          "total_monthly_storage": {
            "type": "integer",
            "description": "Total storage used in current month (bytes)",
            "example": 0
          },
          "current_storage": {
            "type": "integer",
            "description": "Current storage used (bytes)",
            "example": 0
          },
          "total_monthly_billing": {
            "type": "number",
            "description": "Total cost in current month",
            "format": "float",
            "example": 222.33904
          },
          "command_counts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommandCount"
            },
            "description": "Command-specific counts over time"
          }
        }
      },
      "CommandCount": {
        "type": "object",
        "properties": {
          "metric_identifier": {
            "type": "string",
            "description": "Command name or metric identifier",
            "example": "EXISTS"
          },
          "data_points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Data points for the given command"
          }
        }
      },
      "TimeSeriesData": {
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "properties": {
          "x": {
            "type": "string",
            "description": "Timestamp when measurement was taken",
            "example": "2023-05-22 10:59:23.426 \u002B0000 UTC"
          },
          "y": {
            "type": "number",
            "description": "The measured value",
            "example": 320
          }
        }
      },
      "Backup": {
        "type": "object",
        "properties": {
          "database_id": {
            "type": "string",
            "description": "ID of the database",
            "example": "6gcqwafd-9627-4ec2-4g51-b1429h59c8d4"
          },
          "customer_id": {
            "type": "string",
            "description": "Customer ID",
            "example": "example@upstash.com"
          },
          "name": {
            "type": "string",
            "description": "Name of the backup",
            "example": "test"
          },
          "backup_id": {
            "type": "string",
            "description": "ID of the backup",
            "example": "1d62p45b-c567-1239-b23e-449ads33a62e"
          },
          "creation_time": {
            "type": "integer",
            "description": "Creation time of the backup as Unix time",
            "format": "int64",
            "example": 1757000716
          },
          "state": {
            "$ref": "#/components/schemas/BackupState"
          },
          "backup_size": {
            "type": "integer",
            "description": "Size of the backup",
            "format": "int64",
            "example": 0
          },
          "daily_backup": {
            "$ref": "#/components/schemas/BackupDailyBackup"
          },
          "hourly_backup": {
            "$ref": "#/components/schemas/BackupHourlyBackup"
          },
          "internal_backup_tag": {
            "type": "string",
            "description": "Internal backup tag"
          }
        },
        "xml": {
          "name": "backup"
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "log_id": {
            "type": "string",
            "description": "Unique identifier for the log entry",
            "example": "ab9744ed-f51c-4z58-a3cj-e3bs756154du"
          },
          "customer_id": {
            "type": "string",
            "description": "The ID or email of the customer associated with the log",
            "example": "example@example.com"
          },
          "actor": {
            "type": "string",
            "description": "The user or system that performed the action",
            "example": "example@example.com"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of when the action occurred",
            "format": "int64",
            "example": 1764587058
          },
          "action": {
            "type": "integer",
            "description": "Numeric ID representing the specific action type",
            "example": 13
          },
          "action_string": {
            "type": "string",
            "description": "Human-readable description of the action",
            "example": "Delete Team"
          },
          "source": {
            "type": "string",
            "description": "The source method or client used to perform the action",
            "example": "API_KEY - system_tests"
          },
          "entity": {
            "type": "string",
            "description": "The primary entity affected by the action",
            "example": "test_team"
          },
          "secondary_entity": {
            "type": "string",
            "description": "A secondary entity affected, \u0022\u0022 or \u0022NA\u0022 if not applicable",
            "example": "NA"
          },
          "third_entity": {
            "type": "string",
            "description": "A tertiary entity affected, \u0022\u0022 or \u0022NA\u0022 if not applicable"
          },
          "readable_format": {
            "type": "string",
            "description": "formatted string for display purposes"
          },
          "ip": {
            "type": "string",
            "description": "The IP address from which the request originated",
            "format": "ipv4",
            "example": "1.2.3.4"
          },
          "ttl": {
            "type": "integer",
            "description": "Time to live (expiration) timestamp for this log entry",
            "format": "int64",
            "example": 1780311858
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action, if provided"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes regarding the action"
          }
        },
        "xml": {
          "name": "audit_log"
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "ID of the team",
            "example": "95849b27-40d0-4532-8695-d2028847f823"
          },
          "team_name": {
            "type": "string",
            "description": "Name of the team",
            "example": "test_team_name"
          },
          "copy_cc": {
            "type": "boolean",
            "description": "Whether creditcard information added to team during creation or not",
            "example": true
          }
        },
        "xml": {
          "name": "team"
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "ID of the team",
            "example": "3423cb72-e50d-43ec-a9c0-f0f359941223"
          },
          "team_name": {
            "type": "string",
            "description": "Name of the team",
            "example": "test_team_name_2"
          },
          "member_email": {
            "type": "string",
            "description": "Email of the team member",
            "example": "example@upstash.com"
          },
          "member_role": {
            "$ref": "#/components/schemas/TeamMemberMemberRole"
          },
          "copy_cc": {
            "type": "boolean",
            "description": "Whether to copy existing credit card information to team member or not",
            "example": true
          }
        },
        "xml": {
          "name": "teamMember"
        }
      },
      "CreateTeamRequest": {
        "required": [
          "team_name",
          "copy_cc"
        ],
        "type": "object",
        "properties": {
          "team_name": {
            "type": "string",
            "description": "Name of the new team",
            "example": "myteam"
          },
          "copy_cc": {
            "type": "boolean",
            "description": "Whether to copy existing credit card information to team or not",
            "example": true
          }
        }
      },
      "AddTeamMemberRequest": {
        "required": [
          "team_id",
          "member_email",
          "member_role"
        ],
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "Id of the team to add the member to",
            "example": "95849b27-40d0-4532-8695-d2028847f823"
          },
          "member_email": {
            "type": "string",
            "description": "Email of the new team member",
            "example": "example@upstash.com"
          },
          "member_role": {
            "$ref": "#/components/schemas/AddTeamMemberRequestMemberRole"
          }
        }
      },
      "DeleteTeamMemberRequest": {
        "required": [
          "team_id",
          "member_email"
        ],
        "type": "object",
        "properties": {
          "team_id": {
            "type": "string",
            "description": "Id of the team to remove the member from",
            "example": "95849b27-40d0-4532-8695-d2028847f823"
          },
          "member_email": {
            "type": "string",
            "description": "Email of the team member to remove",
            "example": "example@upstash.com"
          }
        }
      },
      "VectorIndex": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The associated ID of the owner of the index",
            "example": "example@upstash.com"
          },
          "id": {
            "type": "string",
            "description": "Unique ID of the index",
            "example": "0639864f-ece6-429c-8118-86a287b0e808"
          },
          "name": {
            "type": "string",
            "description": "The name of the index",
            "example": "myindex"
          },
          "similarity_function": {
            "$ref": "#/components/schemas/VectorIndexSimilarityFunction"
          },
          "dimension_count": {
            "type": "number",
            "description": "The amount of values in a single vector",
            "example": 384
          },
          "embedding_model": {
            "$ref": "#/components/schemas/VectorIndexEmbeddingModel"
          },
          "sparse_embedding_model": {
            "$ref": "#/components/schemas/VectorIndexSparseEmbeddingModel"
          },
          "endpoint": {
            "type": "string",
            "description": "The REST endpoint of the index",
            "example": "glowing-baboon-15797-us1"
          },
          "token": {
            "type": "string",
            "description": "The REST authentication token for the index",
            "example": "QkZGAsWp2tdW0tdC0zNzM1LWV1MkFkNQzB1ExUb3hOekF0TVRJbFpMDNLVSm1GZw=="
          },
          "read_only_token": {
            "type": "string",
            "description": "The REST authentication read only token for the index",
            "example": "QkZGRk1heGSKC0MtdRlZC0zNzM1LWTj3pAV0Wm1aZ01p05qY3RNR0U0TkRtRt2s9azJU"
          },
          "type": {
            "$ref": "#/components/schemas/VectorIndexType"
          },
          "region": {
            "$ref": "#/components/schemas/VectorIndexRegion"
          },
          "max_vector_count": {
            "type": "number",
            "description": "The number of maximum that your index can contain",
            "example": 5210000
          },
          "max_daily_updates": {
            "type": "number",
            "description": "The number of maximum update operations you can perform in a day. Only upsert operations are included in update count.",
            "example": 1000000
          },
          "max_daily_queries": {
            "type": "number",
            "description": "The number of maximum query operations you can perform in a day. Only query operations are included in query count.",
            "example": 1000000
          },
          "max_monthly_bandwidth": {
            "type": "number",
            "description": "The maximum amount of monthly bandwidth for the index. Unit is bytes. -1 if the limit is unlimited.",
            "example": -1
          },
          "max_writes_per_second": {
            "type": "number",
            "description": "The number of maximum write operations you can perform per second. Only upsert operations are included in write count.",
            "example": 1000
          },
          "max_query_per_second": {
            "type": "number",
            "description": "The number of maximum query operations you can perform per second. Only query operations are included in query count.",
            "example": 1000
          },
          "max_reads_per_request": {
            "type": "number",
            "description": "The number of maximum vectors in a read operation. Query and fetch operations are included in read operations.",
            "example": 1000
          },
          "max_writes_per_request": {
            "type": "number",
            "description": "The number of maximum vectors in a write operation. Only upsert operations are included in write operations.",
            "example": 1000
          },
          "max_total_metadata_size": {
            "type": "number",
            "description": "The amount of maximum size for the total metadata sizes in your index.",
            "example": 53687091200
          },
          "reserved_price": {
            "type": "number",
            "description": "Monthly pricing of your index. Only available for fixed and pro plans.",
            "example": 60
          },
          "creation_time": {
            "type": "number",
            "description": "The creation time of the vector index in UTC as unix timestamp.",
            "example": 1753207106
          },
          "index_type": {
            "$ref": "#/components/schemas/VectorIndexIndexType"
          },
          "throughput_vector": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Throughput data for the vector index over time"
          }
        },
        "xml": {
          "name": "vectorIndex"
        }
      },
      "VectorStats": {
        "type": "object",
        "properties": {
          "pending_index_count": {
            "type": "integer",
            "description": "Number of pending index operations",
            "example": 1
          },
          "current_vector_count": {
            "type": "integer",
            "description": "Current number of vectors in the index",
            "example": 1000
          },
          "daily_query_count": {
            "type": "integer",
            "description": "Total number of query operations executed today",
            "example": 100
          },
          "daily_update_count": {
            "type": "integer",
            "description": "Total number of update operations executed today",
            "example": 10
          },
          "monthly_query_count": {
            "type": "integer",
            "description": "Total query operations in current month",
            "example": 1000
          },
          "monthly_update_count": {
            "type": "integer",
            "description": "Total update operations in current month",
            "example": 1000
          },
          "monthly_bandwidth_usage": {
            "type": "integer",
            "description": "Total bandwidth used in current month (bytes)",
            "example": 7000
          },
          "storage_usage": {
            "type": "integer",
            "description": "Current storage used (bytes)",
            "example": 7000
          },
          "monthly_cost": {
            "type": "number",
            "description": "Total cost in current month",
            "format": "float",
            "example": 0.5
          },
          "daily_update_requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily update requests over time"
          },
          "daily_query_requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily query requests over time"
          },
          "daily_bandwidths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily bandwidth usage over time"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Days of the week for measurement"
          },
          "query_throughput": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Query throughput over time"
          },
          "update_throughput": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Update throughput over time"
          },
          "query_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average query latency over time"
          },
          "query_latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile query latency over time"
          },
          "update_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average update latency over time"
          },
          "update_latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile update latency over time"
          },
          "embeds_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average embedding latency over time"
          },
          "embeds_latency_99": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "99th percentile embedding latency over time"
          },
          "vector_count": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Vector count over time"
          },
          "data_size": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Data size over time"
          },
          "daily_rerank_count": {
            "type": "integer",
            "description": "Total number of rerank operations executed today",
            "example": 0
          },
          "monthly_rerank_count": {
            "type": "integer",
            "description": "Total rerank operations in current month",
            "example": 10
          },
          "daily_rerank_requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Daily rerank requests over time"
          },
          "rerank_latency_mean": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesData"
            },
            "description": "Average rerank latency over time"
          },
[...]
